@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");

html {
  scroll-behavior: smooth;
}

#landing {
  background-image: url("./landing2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: rgb(241, 235, 235);
}

#about {
  /* background-color: rgb(19, 18, 18); */
  background-color: white;
  color: white;
}

.tech-img {
  margin-left: 25px;
  margin-top: 2rem;
}

.mac-img {
  width: 250px;
  margin-top: 1rem;
  /* margin-bottom: 3rem; */
}

#projects {
  background-color: rgb(19, 18, 18);
  background-color: white;
}

.name {
  font-size: 3rem;
  margin-top: 23rem;
  font-family: "Alfa Slab One", cursive;
}

.heading {
  font-size: 25px;
  font-family: "Alfa Slab One", cursive;
  margin-top: 2rem;
  border-bottom: 1px solid black;
  color: black;
}

a.navbar-brand,
a.nav-link {
  color: white !important;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.navbar-brand {
  font-size: 20px !important;
}

a.nav-link:hover,
a.navbar-brand:hover {
  border-bottom: 1px solid black;
}

.view-btn {
  font-family: "Oswald", sans-serif;
  font-family: 300;
  text-transform: uppercase;
  border: 1px solid grey !important;
  margin-top: 10px;
}

.project-btn {
  /* border-radius: 0; */
  background-color: rgb(74, 5, 92);
  border: 1px solid grey !important;
  font-family: "Oswald", sans-serif;
  margin-right: 5px;
}

.view-btn:hover,
.project-btn:hover {
  background-color: purple !important;
}
.type {
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 10px;
  font-weight: 300;
}

.title {
  font-family: "Oswald", sans-serif;
  color: black;
  margin-top: 10px;
}

.tech {
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 300;
}
